<div class="page-lead">
  <div class="page-heading">
    <%= heading("Community Members", current_community.name) %>
  </div>
  <div class="page-actions">
    <a href="<%= new_membership_path %>" class="uk-button uk-button-link">
      <span uk-icon="icon: plus"></span>
      New Member
    </a>
    <a href="<%= new_memberships_bulk_path %>" class="uk-button uk-button-link">
      <span uk-icon="icon: plus"></span>
      Bulk Add Members
    </a>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "memberships/memberships" %>
  </div>
</div>
