<div class="page-lead">
  <div class="page-heading">
    <h1>Related Documents</h1>
  </div>
  <div class="page-actions">
    <% if role? :admin %>
      <a href="<%= tag_path(@tag) %>" class="uk-button uk-button-link">
        <span uk-icon="icon: file-edit"></span>
        Tag Details
      </a>
    <% end %>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <h3>Related to <%= @tag.name %></h3>

    <%= render "documents/documents", documents: @documents %>
    <%= render "documents/documents_404" if @documents.empty? %>
  </div>
</div>
