<%= form_for @user do |form| %>

  <p>
    <%= form.label :name %><br>
    <pre><%= @user.name %></pre>
  </p>

  <p>
    <%= form.label :role %><br>
    <% roles = User::ROLES.map{ |role| [role.titleize, role] } %>
    <%= form.select :role, options_for_select(roles), {}, class: "uk-select" %>
  </p>

  <p>
    <%= form.submit class: "uk-button uk-button-default" %>
  </p>

<% end %>
