<%= form_for @user do |form| %>

  <% if @user.persisted? %>
    <p>
      <%= form.label :name %><br>
      <pre><%= @user.name %></pre>
    </p>
  <% end %>

  <% if @user.persisted? %>
    <p>
      <%= form.label :email %><br>
      <pre><%= @user.email %></pre>
    </p>
  <% else %>
    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email, class: "uk-input" %>
    </p>
  <% end %>

  <p>
    <%= form.label :role %><br>
    <%
      role = @user.role(current_community)
      role = Membership::DEFAULT_COMMUNITY_ROLE unless @user.persisted?
      roles = Membership::ROLES.map{ |item| [item.titleize, item] }
    %>
    <%= select_tag [:membership, :role], options_for_select(roles, role), {}, class: "uk-select" %>
  </p>

  <p>
    <%= form.submit class: "uk-button uk-button-default" %>
  </p>

<% end %>
