<% users ||= @users %>

<% if users.any? %>
  <table class="users-table uk-table uk-table-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Email</th>
        <th>Role</th>
        <th>Logins</th>
        <th>Last Login</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.map do |user| %>
        <tr>
          <td class="uk-table-link">
            <%= link_to user.name, user_path(user), class: "uk-link-reset" %>
          </td>
          <td>
            <% if user.image.present? %>
              <span class="user-image" style="background-image: url('<%= user.image %>')"></span>
            <% end %>
          </td>
          <td class="uk-table-link">
            <%= link_to user.email, user_path(user), class: "uk-link-reset" %>
          </td>
          <td class="uk-table-link">
            <%= link_to user.role, user_path(user), class: "uk-link-reset" %>
          </td>
          <td><%= user.sign_in_count %></td>
          <td>
            <%= user.last_sign_in_ago %><br/>
            <small><%= user.last_sign_in_at %></small>
          </td>
          <td>
            <a href="<%= user_path(user) %>" class="uk-button uk-button-link">
              <span uk-icon="icon: file-edit"></span>
              Details
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
