<div class="page-home">
  <div class="page-home-header">
    <div class="page-home-titlebar">
      <div class="page-home-logo">
        <h1><strong>Community</strong>Share</h1>
      </div>
      <ul class="uk-navbar-nav page-home-nav">
        <li>
          <a href="#home-features" uk-scroll>Features</a>
        </li>
        <li>
          <a href="#home-demo" uk-scroll>Live Demo</a>
        </li>
        <li>
          <a href="#home-pricing" uk-scroll>Pricing</a>
        </li>
        <li>
          <a class="active" href="#home-register" uk-scroll>
            <span>Get Started</span>
          </a>
        </li>
        <li>
          <a href="#home-faq" uk-scroll>FAQ</a>
        </li>
        <li>
          <a href="#home-support" uk-scroll>Support</a>
        </li>
        <li>
          <a class="login-link" href="<%= user_facebook_omniauth_authorize_path %>">
            <span>Log In</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="heading">Organize and Share Files in Your Community</div>
    <div class="subheading">Use Facebook to stay in sync. Fast. Simple. Secure.</div>
    <div class="buttons">
      <a class="register-link" href="#home-register" uk-scroll>Create Your Community</a>
      <a class="demo-link" href="#home-demo" uk-scroll>Live Demo</a>
    </div>
  </div>

  <div class="page-home-features" id="home-features">
    <div class="page-home-heading">
      <h2 class="uk-text-center uk-heading-line">
        <span>Features</span>
      </h2>
    </div>

    <div class="home-features-table uk-child-width-expand" uk-grid>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: cloud-upload; ratio: 1.25"></span></div>
        <div class="headline">File Uploads</div>
        <div class="description">Upload documents and images</div>
      </div>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: tag; ratio: 1.25"></span></div>
        <div class="headline">Stay Organized</div>
        <div class="description">Add tags and group files for easy access</div>
      </div>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: lock; ratio: 1.25"></span></div>
        <div class="headline">Secure Storage</div>
        <div class="description">Files are stored securely and backed up</div>
      </div>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: bolt; ratio: 1.25"></span></div>
        <div class="headline">Fast Access</div>
        <div class="description">Files are available globally for fast access</div>
      </div>
    </div>
    <div class="home-features-table uk-child-width-expand" uk-grid>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: users; ratio: 1.25"></span></div>
        <div class="headline">User Management</div>
        <div class="description">Controls to easily manage is a member of your community</div>
      </div>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: star; ratio: 1.25"></span></div>
        <div class="headline">Membership Levels</div>
        <div class="description">Manage who can add, edit, tag and remove files</div>
      </div>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: facebook; ratio: 1.25"></span></div>
        <div class="headline">Facebook Groups</div>
        <div class="description">Integrate with your Facebook group</div>
      </div>
      <div class="feature">
        <div class="icon"><span uk-icon="icon: lifesaver; ratio: 1.25"></span></div>
        <div class="headline">Usage Metrics</div>
        <div class="description">Learn more about how files are being accessed</div>
      </div>
    </div>
  </div>

  <div class="page-home-demo" id="home-demo">
    <div class="page-home-heading">
      <h2 class="uk-text-center">
        <span>Live Demo</span>
      </h2>
    </div>

    <div class="page-home-demo-intro">Get a hands on feel for how Community Share works</div>
    <div><%= link_to "Launch the Live Demo", user_facebook_omniauth_authorize_path, class: "demo-button" %></div>
  </div>

  <div class="page-home-pricing" id="home-pricing">
    <div class="page-home-heading">
      <h2 class="uk-text-center uk-heading-line">
        <span>Pricing</span>
      </h2>
    </div>
    <div class="home-pricing-table uk-child-width-expand" uk-grid>
      <div class="home-pricing-card home-pricing-first">
        <div class="plan">Starter</div>
        <div class="price">$0</div>
        <div class="price-term">Per Month</div>
        <div class="action">
          <a href="?community-level=starter#home-register">Get Started</a>
        </div>
        <div class="features">Up to 5 Users</div>
        <div class="features">Up to 30 Files / 100 MB</div>
        <div class="features">5GB Transfer</div>
      </div>
      <div class="home-pricing-card home-pricing-second">
        <div class="plan">Standard</div>
        <div class="price">$15</div>
        <div class="price-term">Per Month</div>
        <div class="action">
          <a href="?community-level=standard#home-register">Get Started</a>
        </div>
        <div class="features">Up to 100 Users</div>
        <div class="features">Up to 300 Files / 3 GB</div>
        <div class="features">20GB Transfer</div>
        <div class="trial">
          <div>30 Day Free Trial</div>
          <div>No Credit Card Required</div>
        </div>
      </div>
      <div class="home-pricing-card home-pricing-third">
        <div class="plan">Premium</div>
        <div class="price">$35</div>
        <div class="price-term">Per Month</div>
        <div class="action">
          <a href="?community-level=premium#home-register">Get Started</a>
        </div>
        <div class="features"><strong>Unlimited</strong> Users</div>
        <div class="features"><strong>Unlimited</strong> Files / 20 GB</div>
        <div class="features">50GB Transfer</div>
        <div class="features">Usage Metrics</div>
        <div class="trial">
          <div>30 Day Free Trial</div>
          <div>No Credit Card Required</div>
        </div>
      </div>
    </div>
    <div class="home-pricing-footer">
      Discounts available for non-profits, <a href="mailto:sales+nonprofit@community-share.com">contact us</a> for details
    </div>
  </div>

  <div class="page-home-register" id="home-register">
    <div class="page-home-heading">
      <h2 class="uk-text-center uk-heading-line">
        <span>Get Started</span>
      </h2>
    </div>
    <div class="page-home-register-directions">To create your own community fill out the fields below. It's that easy!</div>

    <% if @registration.errors.present? %>
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <ul>
          <% @registration.errors.map do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_tag "#{community_registrations_path}#home-register" do %>
      <div class="page-home-register-form-inner">
        <div class="page-home-register-row-container">
          <div class="page-home-register-row">
            <div class="community-name">
              <%= text_field_tag :community_name, @registration.community_name, class: "uk-input", placeholder: "Community Name" %>
            </div>
            <div class="community-level">
              <%
                 levels = [
                   ["Community Type", false],
                   ["", ""],
                   ["Starter", "starter"],
                   ["Standard", "standard"],
                   ["Premium", "premium"]
                 ]
              %>
              <%=
                  select_tag(
                    :community_level,
                    options_for_select(levels, @registration.community_level || params["community-level"]),
                    { class: "uk-select" }
                  )
              %>
            </div>
            <div class="submit">
              <%= submit_tag "Register", class: "uk-button uk-button-primary" %>
            </div>
          </div>
        </div>
      </div>
      <div class="terms-agreement">
        <%= check_box_tag :terms_agreement, true, @registration.terms_agreement %>
        <label for="terms_agreement">Agree to <%= link_to "Terms and Conditions", "/terms-and-conditions", target: :blank %></label>
      </div>
    <% end %>
  </div>

  <div class="page-home-faq" id="home-faq">
    <div class="page-home-heading">
      <h2 class="uk-text-center">
        <span>Frequently Asked Questions</span>
      </h2>
    </div>

    <div><strong>Do I need a Facebook Login?</strong></div>
    <div>Yes! Facebook is a leader in building strong communities. Using Facebook logins guarantees a safe and secure place to share within your community.</div>
  </div>

  <div class="page-home-support" id="home-support">
    <div class="page-home-heading">
      <h2 class="uk-text-center">
        <span>Support</span>
      </h2>
    </div>
    <div><strong>Need help?</strong> If something isn't working as expected <a href="mailto:support@community-share.com">let us know</a></div>
  </div>

  <div class="page-home-footer">
    <span>Created by <a href="http://chrislaskey.com">Chris Laskey</a>&nbsp;&nbsp;|&nbsp;&nbsp;Community Share <a href="/terms-and-conditions">Terms and Conditions</a></span>
  </div>
</div>
