<%= form_for @document, html: { multipart: true } do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "uk-input" %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "uk-textarea" %>
  </p>

  <div>
    <%= form.label :file %><br>
    <div class="uk-form-custom" uk-form-custom>
      <%= form.file_field :file %>
      <% if @document.file.present? %>
        <p><%= link_to "#{@document.name.parameterize}.pdf", @document.file.url %></p>
      <% end %>
      <button class="uk-button uk-button-default" type="button" tabindex="-1">Select File</button>
    </div>
  </div>

  <% @tags.group_by(&:category).map do |category, items| %>
    <h5><%= category %></h5>
    <% items.map do |tag| %>
      <label for="tag-<%= tag.id %>">
        <%= form.check_box :tag_ids, {class: "uk-checkbox", id: "tag-#{tag.id}", multiple: true}, tag.id, nil %>
        <%= tag.name %>
      </label>
    <% end %>
  <% end %>

  <p>
    <%= form.submit class: "uk-button uk-button-default" %>
  </p>

<% end %>
