<%= form_for @document, html: { multipart: true } do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "uk-input" %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "uk-textarea" %>
  </p>

  <% if @document.file.present? %>
    <p>
      <%= form.label :current_file %><br>
      <%= link_to @document.file_file_name, download_document_path(@document) %>
    </p>
  <% end %>

  <div>
    <%= form.label :file %><br>
    <div class="uk-placeholder uk-text-center">
      <span uk-icon="icon: cloud-upload"></span>
      <span class="uk-text-middle">To attach a file to the document</span>
      <div class="uk-form-custom" uk-form-custom>
        <%= form.file_field :file %>
        <span class="uk-link">select one</span>
      </div>
    </div>
  </div>

  <% @tags.group_by(&:category).map do |category, items| %>
    <h5><%= category %></h5>
    <% items.map do |tag| %>
      <label for="tag-<%= tag.id %>">
        <%= form.check_box :tag_ids, {class: "uk-checkbox", id: "tag-#{tag.id}", multiple: true}, tag.id, nil %>
        <%= tag.name %>
      </label>
    <% end %>
  <% end %>

  <p>
    <%= form.submit class: "uk-button uk-button-default" %>
  </p>

<% end %>
