<% tags ||= @tags %>

<div class="page-sidebar sidebar-tags">
  <% if tags.present? %>
    <% tags.group_by(&:category).sort.map do |category, items| %>
      <h4><%= category %></h4>
      <% if items.present? %>
        <ul class="uk-list">
          <% items.sort_by(&:name).map do |tag| %>
            <li>
              <a class="sidebar-tag" href="<%= document_tag_path(tag) %>">
                <span><%= tag.name %></span>
                <%# <span class="uk-badge"><%= tag.size %1></span> %>
                <span class="size"><%= tag.size %></span>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% else %>
    <div class="uk-placeholder uk-text-center">
      <span uk-icon="icon: tag"></span>
      <span class="uk-text-middle"><%= link_to "Add a new tag", new_tag_path %></span>
    </div>
  <% end %>
</div>
