<div class="page-lead">
  <div class="page-heading">
    <h1>Documents</h1>
  </div>
  <div class="page-actions">
    <a href="<%= new_document_path %>" class="uk-button uk-button-link">
      <span uk-icon="icon: plus"></span>
      New Document
    </a>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "documents/documents" %>
    <% if @documents.empty? %>
      <div class="uk-placeholder uk-text-center">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle">No documents found. <%= link_to "Add a new one", new_document_path %></span>
      </div>
    <% end %>
  </div>
  <%= render "documents/sidebar_tags" %>
</div>
