<%= form_for @document, url: documents_path, html: { multipart: true } do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :file %><br>
    <%= form.file_field :file %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
