<div class="page-lead">
  <div class="page-heading">
    <h1>Document</h1>
  </div>
  <div class="page-actions">
    <% if role?(:admin, :editor) || (role?(:contributor) && @document.created_by?(current_user)) %>
      <a href="<%= edit_document_path(@document) %>" class="uk-button uk-button-link">
        <span uk-icon="icon: file-edit"></span>
        Edit
      </a>
    <% end %>
    <% if role?(:admin, :editor) || (role?(:contributor) && @document.created_by?(current_user)) %>
      <a href="<%= document_path(@document) %>" data-confirm="Are you sure?" data-method="delete" class="uk-button uk-button-link">
        <span uk-icon="icon: trash"></span>
        Delete
      </a>
    <% end %>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <h2><%= @document.name %></h2>
    <p><%= @document.description %></p>

    <div class="uk-placeholder uk-text-center">
      <span uk-icon="icon: cloud-download"></span>
      Download
      <a class="sfile-download" href="<%= download_document_path(@document) %>" target="_blank">
        <%= "#{@document.file_file_name} (#{number_to_human_size(@document.file_file_size)})" %>
      </a>
    </div>

    <% if @document.tags.present? %>
      <p>
        <% @document.tags.group_by(&:category).map do |category, items| %>
          <strong><%= category %>: </strong>
            <% items.map do |tag| %>
              <span><%= link_to tag.name, document_tag_path(tag) %></span>
            <% end %>
          </strong>
        <% end %>
      </p>
    <% end %>

    <% if role?(:admin) && @document.downloads.present? %>
      <h4>Document Downloads</h4>

      <%= render "downloads/downloads", downloads: @document.downloads.paginate(page: params[:page]), show_document: false %>
    <% end %>

    <h4>Comments</h3>
    <div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    <div class="fb-comments" data-href="<%= request.original_url %>" data-width="100%" data-numposts="5"></div>
  </div>
</div>
