<div class="page-lead">
  <div class="page-heading">
    <h1>Document</h1>
  </div>
  <div class="page-actions">
    <% if has_role?(:admin, :editor) || (has_role?(:contributor) && @document.created_by?(current_user)) %>
      <a href="<%= edit_document_path(@document) %>" class="uk-button uk-button-link">
        <span uk-icon="icon: file-edit"></span>
        Edit
      </a>
    <% end %>
    <% if has_role?(:admin, :editor) || (has_role?(:contributor) && @document.created_by?(current_user)) %>
      <a href="<%= document_path(@document) %>" data-confirm="Are you sure?" data-method="delete" class="uk-button uk-button-link">
        <span uk-icon="icon: trash"></span>
        Delete
      </a>
    <% end %>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <p><strong>Name</strong></p>
    <%= @document.name %>

    <p><strong>Description</strong></p>
    <%= @document.description %>

    <% if @document.tags.present? %>
      <p>
        <% @document.tags.group_by(&:category).map do |category, items| %>
          <strong><%= category %>: </strong>
            <% items.map do |tag| %>
              <span><%= link_to tag.name, document_tag_path(tag) %></span>
            <% end %>
          </strong>
        <% end %>
      </p>
    <% end %>

    <p><strong>File</strong></p>

    <p><%= link_to @document.file_file_name, download_document_path(@document) %></p>

    <p><strong>File Size</strong></p>
    <%= @document.file_file_size %>

    <% if has_role?(:admin) && @document.downloads.present? %>
      <h3>Document Downloads</h3>

      <%= render "downloads/downloads", downloads: @document.downloads.paginate(page: params[:page]), show_document: false %>
    <% end %>
  </div>
</div>
