<h1>Document</h1>

<p><strong>Name</strong></p>
<%= @document.name %>

<% if @document.tags.present? %>
  <p>
    <% @document.tags.group_by(&:category).map do |category, items| %>
      <strong><%= category %>: </strong>
        <% items.map do |tag| %>
          <span><%= link_to tag.name, tag_path(tag) %></span>
        <% end %>
      </strong>
    <% end %>
  </p>
<% end %>

<p><strong>File</strong></p>

<p><%= link_to "#{@document.name.parameterize}.pdf", @document.file.url %></p>

<p><%= link_to "Back", :back %></p>
