<h1>Tag <%= @tag.name %></h1>

<%= link_to "Related Documents (#{@tag.documents.count})", document_tag_path(@tag) %>

<%= link_to "Edit Tag", edit_tag_path(@tag) %>

<%= link_to "Destroy Tag", tag_path(@tag), method: :delete, data: { confirm: "Are you sure?" } %>

<p><strong>Category</strong></p>
<%= @tag.category %>

<p><strong>Name</strong></p>
<%= @tag.name %>
