<div class="page-header">
  <div class="page-titlebar">
    <div class="uk-navbar-left">
      <a href="/" class="uk-navbar-item uk-logo"><strong>Community</strong>Share</a>
      <span class="community-name"><%= current_community.name %></span>
    </div>
    <div class="page-navbar">
      <ul class="uk-navbar-nav uk-visible@m">
        <li><%= link_to "Documents", documents_path %></li>
        <% if role? :admin %>
          <li><%= link_to "Tags", tags_path %></li>
          <li><%= link_to "Downloads", downloads_path %></li>
          <li><%= link_to "Members", memberships_path %></li>
          <li><%= link_to "Community", edit_community_path(current_community) %></li>
        <% end %>
        <li>
          <% if current_user.present? %>
            <a class="user" href="#">
              <span class="image" style="background-image: url('<%= current_user.image %>')"></span>
              <span class="name"><%= current_user.name %></span>
            </a>
            <div uk-dropdown>
              <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Actions</li>
                <% if current_user.communities.length > 1 %>
                <li><%= link_to "Switch Community", communities_path %></li>
                <% end %>
                <li><%= link_to "Log Out", user_log_out_path, method: :delete %></li>
              </ul>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
    <a class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" href="#" uk-toggle="" uk-navbar-toggle-icon=""></a>
  </div>
</div>
