<!DOCTYPE html>
<html>
  <head>
    <title>Rover</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" media="all" href="/assets/css/uikit.css" />
    <script src="/assets/js/uikit.min.js"></script>
  </head>

  <body>
    <%# <%= render "layouts/header" %1> %>
    <%= yield %>
  </body>
</html>
