<!DOCTYPE html>
<html>
  <head>
    <title>Community Share</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <script src="/assets/js/uikit.min.js"></script>

    <link rel="stylesheet" media="all" href="/assets/css/uikit.css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="page-body">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
